.header-color {
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

/* Resume Page */
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

/* Resume Page- end */

/* contact page css */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
/*  end contact grid css */
.contact-grid {
  font-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h3 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dashed black;
  width: 60%;
  margin: auto;
}

.contact-grid {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-list i {
  font-size: 64px;
  padding-right: 5rem;
}
.profile-image {
  height: 250px;
  padding-top: 5em;
}

.profile-banner-text {
  background-color: black;
  opacity: 0.8;
  width: 70%;
  opacity: 0.9;
  margin: auto;
  border-radius: 10px;
}

.profile-banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.profile-banner-text hr {
  border-top: 6px dashed white;
  width: 50%;
  margin: auto;
}

.profile-banner-text p {
  color: white;
  font-size: 18px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 8px;
}
